/* Lomakkeen yläotsikko */
h1 {
    text-align: center;
    color: #000000;
    padding: 100px;
}

/* Lomakkeen kentät */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Checkbox- ja radiopainikkeet */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

/* Pudotusvalikko */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Lähetä-painike */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Lomakkeen ulkoinen kehys */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
/* Lomakekontti */
#contactForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Lomakekentät */
.form-group label {
    font-weight: bold;
    color: #555;
}

/* Lähettämispainike */
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-primary:hover {
    background-color: #0056b3;
}
body {
    background-image: url('ammatti-juoppo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ani-elementti {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    transition: background-color 0.5s;
}

.ani-elementti-naytto {
    background-color: #e74c3c;
}
.liukuva-elementti {
    position: relative;
    left: -300px;
    opacity: 0;
    transition: left 1s, opacity 1s;
}

.liukuva-elementti-naytto {
    left: 0;
    opacity: 1;
}
.nayttava-elementti {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 200px;
    transition: background-color 0.5s, transform 0.5s, width 0.5s, height 0.5s;
}

.nayttava-elementti-anim {
    background-color: #e74c3c;
    transform: scale(1.1);
    width: 220px;
    height: 220px;
}